.my-footer {
  background-color: #163b65;
  margin-top: 1.5em;
  padding: 1em;
  color: #fff;
}
.room-image {
  max-width: 50%;
}
.footer-copyright {
  display: block;
}

.redText {
  color: red;
}
.datepicker-picker {
  z-index: 1000000 !important;
}
.swal2-html-container {
  overflow: visible !important;
}
.datepicker-dropdown {
  position: relative !important;
}
