{{define "admin"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Administration</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/notie/dist/notie.min.css"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/static/css/admin-styles.css" />

    {{block "css" . }} {{end}}
  </head>
  <body>
    <header class="header bg-dark">
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between align-items-center px-3"
      >
        <div class="navbar-left">
          <span class="menu-icon h1 text-white fw-bold" id="toggle-aside-menu"
            ><i class="bi bi-list"></i
          ></span>
          <a class="brand-logo h1 text-white text-decoration-none" href="/"
            >Bookings</a
          >
        </div>
        <div class="nav-bar-right">
          <a class="text-primary text-decoration-none" href="/">Public Site</a>
        </div>
      </nav>
    </header>
    <main class="main d-flex gap-2">
      <aside class="aside bg-dark">
        <di class="aside-content">
          <ul class="items mt-1">
            <li class="item">
              <a href="/admin/dashboard"><span class="aside-icon">
                <i class="bi bi-house-door"></i>
              </span> Dashboard</a>
            </li>
            <li class="item dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="aside-icon">
                  <i class="bi bi-book"></i>
                </span>Reservations
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item"href="/admin/reservations-new">New Reservations</a></li>
                <li><a class="dropdown-item" href="/admin/reservations-all">All Reservations</a></li>
              </ul>
            </li>
            <li class="item">
              <a href="/admin/reservations-calendar"><span class="aside-icon">
                <i class="bi bi-calendar-date"></i>
              </span>Reservation Calendar</a>
            </li>
            <li class="item">
              <a href="/user/logout"><span class="aside-icon">
                <i class="bi bi-box-arrow-right"></i>
              </span>Logout</a>
            </li>
          </ul>
        </di>
      </aside>
      <div class="content">
        <div class="row">{{block "content" .}} {{end}}</div>
      </div>
    </main>
    <footer class="footer">
      <div
        class="d-sm-flex justify-content-center justify-content-sm-between"
      ></div>
    </footer>

    <!-- plugins:js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- endinject -->
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/app.js"></script>

    <script>
      const menuBtn = document.getElementById('toggle-aside-menu');
      menuBtn.addEventListener('click', () => {
        document.querySelector('.aside').classList.toggle('show-aside')
        menuBtn.classList.toggle('menu-active')
      })
        let attention = Promt();
        function notify(msg, msgType) {
        notie.alert({
          type: msgType,
          text: msg,
        });
      }

      // notify modal
      function notifyModal(title, text, icon, confirmationButtonText) {
        Swal.fire({
          title: title,
          html: text,
          icon: icon,
          confirmButtonText: confirmationButtonText,
        }); // end
      }

      {{with .Error}}
      notify("{{.}}", "error")
      {{end}}

      {{with .Flash}}
      notify("{{.}}", "flash")
      {{end}}

      {{with .Warning}}
      notify("{{.}}", "warning")
      {{end}}
    </script>

    {{block "js" . }} {{end}}
  </body>
</html>

{{end}}
