{{template "base".}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Login</h1>
      <form method="post" action="/user/login" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
        <div class="form-group mt-3">
          <label for="email">Email:</label>

          {{with .Form.Errors.Get "email"}}
          <label class="text-danger">{{.}}</label>
          {{end}} <input type="email" name="email" id="email"
          value="" class="form-control {{with .Form.Errors.Get
          "email"}} is-invalid {{end}}" required autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="password">Password:</label>

          {{with .Form.Errors.Get "password"}}
          <label class="text-danger">{{.}}</label>
          {{end}} <input type="password" name="password" id="password"
          value="" class="form-control {{with .Form.Errors.Get
          "password"}} is-invalid {{end}}" required autocomplete="off" />
        </div>
        <hr>
        <input type="submit" class="btn btn-primary" value="submit" />
      </form>
    </div>
  </div>
</div>
{{end}}
